$blue          : #004C6C;
$dark-blue     : #013C55;
$very-dark-blue: #002433;
$white         :#ffffff;
$light-grey    : #FCFCFC;
$grey          : #CDCDCD;
$form: #848484;
$dark          : #38383F;
$black         :black;