.projects {
  padding-top: 56px;
  position      : relative;
  @media (min-width: 768px) {
    padding-bottom: 90px;
    padding-top: 90px;

    &::before {
      @include hr;
      bottom: 0px;
      left  : 0;
    }
  }
  &__cart {
    padding-top   : 24px;
    position      : relative;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    cursor        : pointer;

    @media (min-width: 768px) {
     padding-bottom: 21px;
      flex-direction: row;
      width         : 100%;
    }

    &::before {
      @include hr;
      top : 0px;
      left: 0;
    }
    &:last-child{
      &::after{
        @include hr;
        left: 0;
        bottom: 0;
      }
    }
  }

  &__info {
    display       : flex;
    flex-direction: column;
    align-items   : center;

    @media (min-width: 768px) {
      align-items: normal;
      margin-left: 30px;
    }

    h3 {
      margin-top: 16px;
      @include header(20px, 24px);
      text-align: center;

      @media (min-width: 768px) {
        margin-top: 0;
        text-align: left;
      }
    }

    p {
      margin-top: 8px;
      @include text(14px, 130%);
      text-align: center;
      width     : 65%;

      @media (min-width: 768px) {
        margin-top: 0;
        text-align: left;
        width     : 100%;
      }
    }
  }

  &__svg {
    margin-top   : 17px;
    margin-bottom: 21px;
    width        : 21px;
    height       : 21px;

    @media (min-width: 768px) {
      position: absolute;
      margin  : 0;
      right   : 0;
    }

    svg {
      @include svg(21px, 21px, $dark-blue)
    }
  }
}

.projects__cart:not(:focus-visible) {
  .projects__svg {
    svg {
			transition: transform .3s ease-in-out;
			-webkit-transition: transform .3s ease-in-out;
    }
  }

  .projects__img {
		transition: transform .3s ease-in-out;
			-webkit-transition: transform .3s ease-in-out;
  }

  .projects__info {
		transition: transform .3s ease-in-out;
			-webkit-transition: transform .3s ease-in-out;
  }
}

.projects__cart:hover:not(:focus-visible) {
  .projects__svg {
    svg {
      fill     : $very-dark-blue;
      transform: scale(1.1);
			-webkit-transform: scale(1.1);
			transition: transform .3s ease-in-out;
			-webkit-transition: transform .3s ease-in-out;
    }
  }

  .projects__img {
    transform: scale(1.1);
		-webkit-transform: scale(1.1);
		transition: transform .3s ease-in-out;
			-webkit-transition: transform .3s ease-in-out;
  }

  .projects__info {
    transform: translateX(5px);
		-webkit-transform: translateX(5px);
		transition: transform .3s ease-in-out;
			-webkit-transition: transform .3s ease-in-out;
  }
}

.container-project {
  @media (min-width: 768px) {
    max-width: 768px;
    position : relative;
    margin   : 0 auto;
    padding  : 0 24px;
  }

  @media (min-width: 1024px) {
    max-width: 930px;
    padding  : 0;
  }

  @media (min-width: 1920px) {
    max-width: 1050px;
    padding  : 0;
  }
}